<div class="mat-display-3">Chanllenge 4 Form</div>
<form  (ngSubmit)="Add()" [formGroup]="profileForm" >
   
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom</mat-label>
     
      <input type="text" matInput id="nom" formControlName="nom" value="alex" >

<span style="color: red;" *ngIf ="nom && nom.invalid && nom.touched"> Ce champs est obligatoire</span>
   
  
    </mat-form-field>

    
    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput   formControlName="prenom" value="alex">
        <span style="color: red;" *ngIf ="prenom && prenom.invalid && prenom.touched"> Ce champs est obligatoire</span>
      </mat-form-field>

      

      

     

      <button mat-stroked-button type="submit" color="primary">Add</button>
  </form>




