<h1 class="mt-5 mb-5">Liste des utulisateurs</h1>

<table class="table">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
        <tr *ngFor = "let t of listUsers;">
            <th scope="row">{{ t.name}} </th> 
            <td scope="row">{{ t.username}} </td>  
                <td>{{ t.email}} </td>
        </tr>
    </tbody>
</table>
<p>
    <input type="text" [(ngModel)]="username" name="username" >
    <button type="submit" (click)="verifier(username)">Vérifier</button>
</p>
<p >{{message}}</p>

<h1 class="mt-5 mb-5">Liste des utulisateurs from http</h1>

<table class=" table">
   
        <thead>
            <tr class="table-primary">
              
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
        <tr class="bg-yellow" *ngFor = "let t of listUs;">
            <td id="first-cell" scope="row">{{ t.name}} </td> 
            <td class="table-primary">{{ t.username}} </td> 
             <td>{{ t.email}} </td>
            <td><a class="link-success text-decoration-none" routerLink="UserList/t.id" (click)="onSelect(t)">Voir To do</a></td>
        </tr>
    </tbody>
</table>
