<h5>Liste des utulisateurs</h5>

<table class="table-primary">
    <tbody>
       
        <tr *ngFor = "let t of listUsers;">
            <th scope="row">{{ t.name}} </th> <td scope="row">{{ t.username}} </td>  <td>{{ t.email}} </td>
        </tr>
    </tbody>
</table>
<p><input type="text" [(ngModel)]="username" name="username" >
    <button type="submit" (click)="verifier(username)">Vérifier</button>
</p>
<p >{{message}}</p>
<h5>Liste des utulisateurs from http</h5>

<table class="table-primary">
    <tbody>
       
        <tr *ngFor = "let t of listUs;">
            <th scope="row">{{ t.name}} </th> <td scope="row">{{ t.username}} </td>  <td>{{ t.email}} </td>
            <td><a (click)="getItem(t.id)" href="#">voir To do</a></td>
        </tr>
    </tbody>
</table>