<div class="mat-display-3">Chanllenge 3 Form</div>
<form  (ngSubmit)="Add()" [formGroup]="profileForm" >
   
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom</mat-label>
    
      
      <input type="text" matInput  formControlName="nom" value="alex">
    </mat-form-field>
  
    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput   formControlName="prenom" value="alex">
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"  matInput  formControlName="email" value="email">
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput  type="password" formControlName="password"  >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirmer mot de passe</mat-label>
        <input matInput  type="password" formControlName="confirmpassword"  >
      </mat-form-field>
      <button mat-stroked-button type="submit" color="primary">Add</button>
  </form>